:root {
  --rowNum: 2;
  --colNum: 3;
  --gridHeight: 300px;
  --wrapperH: 40px;
}

html,
body,
div,
ul {
  margin: 0;
  padding: 0;
}

#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/assests/fondosuminagashi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 300px;
}

#title a,
#title #firma {
  width: 700px;
  max-width: 100%;
  height: 100%;
}

#navbar {
  margin: 30px;
}

#navbar ul {
  list-style-type: none;
  margin: 10px;
}

#navbar ul li {
  margin-left: 50px;
}

#navbar ul li a.icon {
  font-family: initial !important;
}

#navbar ul li a {
  cursor: pointer;
  text-decoration: none;
  font-family: Montserrat;
  font-size: larger;
  color: #ff3399;
}

.navbar {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.navbar li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar li:not(:first-child):not(:last-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive li {
    float: none;
    display: block !important;
    text-align: left;
  }
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #696969;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  font-size: 30px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

.galleryTitle {
  color: #696969;
  background: #e4e1da;
  font-size: 3em;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-break: break-all;
  text-align: start;
  padding-left: 20%;
  padding-right: 20%;
}

.galleryInfo {
  font-size: 20px;
}

.mainTitle {
  padding-bottom: 30px;
}

#main {
  width: 100%;
  height: auto;
  padding-left: 100px;
  padding-right: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  row-gap: 15px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main .item1 {
  background-image: url("../img/gallery/ceramica/20.jpg");
}

#main .item2 {
  background-image: url("../img/gallery/ceramica/21.jpg");
}

#main .item3 {
  background-image: url("../img/gallery/ceramica/22.jpg");
}

#main .item4 {
  background-image: url("../img/gallery/ceramica/23.jpg");
}

#main .item5 {
  background-image: url("../img/gallery/ceramica/24.jpg");
}

#main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-position-x: center;
}

#main div .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 150px;
  width: 100%;
  visibility: hidden;
  font-family: Montserrat;
}

#main div:hover:not(.item3) .category {
  visibility: visible;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.galleryImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.galleryImage:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

footer {
  width: 100%;
  height: 70px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/Montserrat-Medium.ttf");
}

img {
  cursor: pointer;
}

.container {
  text-align: justify;
}

.container #portrait {
  border-radius: 360px;
  height: 80%;
  cursor: default;
  margin: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}*/
/*# sourceMappingURL=main.css.map */