:root {
  --rowNum: 2;
  --colNum: 3;
  --gridHeight: 300px;
  --wrapperH: 40px;
}

html,
body,
div,
ul {
  margin: 0;
  padding: 0;
}

.inclusiveGrid {
  grid-template-columns: repeat(2, auto) !important;
}

video {
  width: inherit;
}

#video1 {
  order: 1;
}

#video2 {
  order: 4;
}

#video3 {
  order: 5;
}

#video4 {
  order: 8;
}

#textVideo1 {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  order: 2;
}

#textVideo2 {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  order: 3;
}

#textVideo3 {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  order: 6;
}

#textVideo4 {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  order: 7;
}

@media screen and (max-width: 1078px) {
  #video1 {
    order: 1;
  }

  #video2 {
    order: 3;
  }

  #video3 {
    order: 5;
  }

  #video4 {
    order: 7;
  }

  #textVideo1 {
    order: 2;
  }

  #textVideo2 {
    order: 4;
  }

  #textVideo3 {
    order: 6;
  }

  #textVideo4 {
    order: 8;
  }
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/assests/portadamod.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 300px;
  a,
  #firma {
    width: 700px;
    max-width: 100%;
    height: 100%;
  }
}

.mainNav {
  margin: 30px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  ul {
    list-style-type: none;
    margin: 10px;
  }
  li {
    margin-left: 50px;
    float: left;
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    a {
      cursor: pointer;
      text-decoration: none;
      font-family: Montserrat;
      font-size: larger;
      color: #ff3399;
    }
  }
  .icon {
    display: none;
    color: #ff3399;
  }
}

.homePageGrid {
  padding-left: 10% !important;
  padding-right: 10% !important;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)) !important;
}

@media only screen and (max-width: 1078px) {
  .homePageGrid {
    grid-template-columns: none !important;
  }
}

@media only screen and (max-width: 935px) {
  .inclusiveGrid {
    grid-template-columns: none !important;
  }

  #main {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #main:not(.inclusiveGrid):not(.homePageGrid) {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr)) !important;
  }

  .mainNav {
    margin: 0px;
    justify-content: flex-end;
    li:not(:last-child) {
      display: none;
    }
    li:first-child,
    li:last-child {
      font-size: xx-large;
      justify-content: start !important;
    }
    a.icon {
      display: block;
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 935px) {
  .mainNav.responsive {
    position: relative;
    justify-content: flex-start !important;
    .icon {
      position: absolute;
      right: 15px;
      top: 15px;
    }
    li {
      float: none;
      display: block !important;
      text-align: left;
      &:active {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .homePageGrid {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr)) !important;
  }
  #main:not(.inclusiveGrid):not(.homePageGrid) {
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr)) !important;
  }
}

@media only screen and (max-width: 375px) {
  .homePageGrid {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr)) !important;
  }
  .mainNav {
    li {
      margin-left: 0;
      a {
        font-size: inherit;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .homePageGrid {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)) !important;
  }
}

#myBtn {
  font-size: larger;
  opacity: 0.6;
  width: 30px;
  height: 30px;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #696969; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.galleryTitle {
  color: #696969;
  background: #e4e1da;
  text-align: center;
  grid-row: 1 / span 3;
  grid-column: 1 / span 3;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  word-break: break-word;
  text-align: start;
  padding-left: 10%;
  padding-right: 10%;
}

.galleryInfo {
  font-size: 20px;
}

.mainTitle {
  padding-top: 15%;
  padding-bottom: 30px;
  word-break: break-word;
  text-align: center;
}

.aboutText {
  display: flex;
  flex-flow: column wrap;
  text-align: justify;
}

#main {
  width: 100%;
  height: auto;
  padding-left: 20%;
  padding-right: 20%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  row-gap: 15px;
  column-gap: 20px;
  justify-content: center;
  box-sizing: border-box;
  .item1 {
    background-image: url("../img/gallery/ceramica/20.jpg");
  }
  .item2 {
    background-image: url("../img/gallery/ceramica/21.jpg");
  }
  .item3 {
    background-image: url("../img/gallery/ceramica/22.jpg");
  }
  .item4 {
    background-image: url("../img/gallery/ceramica/23.jpg");
  }
  .item5 {
    background-image: url("../img/gallery/ceramica/24.jpg");
  }
  div {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position-x: center;
    .category {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 150px;
      width: 100%;
      visibility: hidden;
      font-family: Montserrat;
    }
    &:hover:not(.item3) .category {
      visibility: visible;
      backdrop-filter: blur(3px);
    }
  }
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
  &:hover {
    transform: scale(1.04);
  }
}

footer {
  width: 100%;
  height: 70px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/Montserrat-Medium.ttf");
}

img {
  cursor: pointer;
}

.container {
  text-align: justify;
  margin-top: 20px;
  #portrait {
    border-radius: 360px;
    height: 80%;
    cursor: default;
    margin: 30px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  font-size: 15px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  align-items: flex-start;
  text-align: initial;
}

/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}*/
