:root {
  --rowNum: 2;
  --colNum: 3;
  --gridHeight: 300px;
  --wrapperH: 40px;
}

$font-color: #ff3399;

html,
body,
div,
ul {
  margin: 0;
  padding: 0;
  font-family: Montserrat !important;
}

.inclusiveGrid {
  grid-template-columns: repeat(2, auto) !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
  column-gap: 5% !important;
  row-gap: 20px !important;
}

video {
  width: inherit;
}

#video1 {
  order: 1;
  align-self: center;
}

#video2 {
  order: 4;
  align-self: center;
}

#video3 {
  order: 5;
  align-self: center;
}

#video4 {
  order: 8;
  align-self: center;
}

#textVideo1 {
  h1 {
    margin: 0;
  }
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  order: 2;
  align-self: flex-start;
}

#textVideo2 {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  order: 3;
}

#textVideo3 {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  order: 6;
}

#textVideo4 {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  order: 7;
}

@media screen and (max-width: 1078px) {
  #video1 {
    order: 1;
  }

  #video2 {
    order: 3;
  }

  #video3 {
    order: 5;
  }

  #video4 {
    order: 7;
  }

  #textVideo1 {
    order: 2;
  }

  #textVideo2 {
    order: 4;
  }

  #textVideo3 {
    order: 6;
  }

  #textVideo4 {
    order: 8;
  }
}

#title {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/assests/1500.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 450px;
  #firma {
    width: 700px;
    max-width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.mainNav {
  margin: 25px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  ul {
    list-style-type: none;
    margin: 10px;
  }
  li {
    margin-left: 50px;
    float: left;
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    a {
      cursor: pointer;
      text-decoration: none;
      font-family: Montserrat;
      font-size: larger;
      color: $font-color;
    }
  }
  .icon {
    display: none;
    color: $font-color;
  }
}

@media only screen and (max-width: 1024px) {
  .inclusiveGrid {
    grid-template-columns: none !important;
  }
  #title {
    background-image: url("../img/assests/1024.jpg");
  }
}

@media only screen and (max-width: 935px) {
  .inclusiveGrid {
    grid-template-columns: none !important;
  }

  #main {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  #main:not(.inclusiveGrid) {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr)) !important;
  }

  .mainNav {
    margin: 0px;
    justify-content: flex-end;
    li:not(:last-child) {
      display: none;
    }
    li:first-child,
    li:last-child {
      justify-content: start !important;
    }
    a.icon {
      display: block;
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 935px) {
  .mainNav.responsive {
    position: relative;
    justify-content: flex-start !important;
    .icon {
      position: absolute;
      right: 15px;
      top: 15px;
    }
    li {
      float: none;
      display: block !important;
      text-align: left;
      &:active {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #title {
    background-image: url("../img/assests/768.jpg");
    height: 450px;
  }
}

@media only screen and (max-width: 425px) {
  #title {
    background-image: url("../img/assests/420.jpg");
    height: 300px;
  }
  #main:not(.inclusiveGrid) {
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr)) !important;
  }
}

@media only screen and (max-width: 375px) {
  #title {
    background-image: url("../img/assests/375.jpg");
    height: 300px;
  }
  .mainNav {
    li {
      margin-left: 0;
      a {
        font-size: inherit;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  #main:not(.inclusiveGrid) {
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr)) !important;
  }
  #title {
    background-image: url("../img/assests/320.jpg");
    height: 300px;
  }
}

#goTopButton {
  border-radius: 360px;
  font-size: larger;
  opacity: 0.6;
  width: 30px;
  height: 30px;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $font-color; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
}

#goTopButton:hover {
  background-color: #fc71b6; /* Add a dark-grey background on hover */
}

.galleryTitle {
  color: #696969;
  background: #e4e1da;
  text-align: center;
  grid-row: 1 / span 2;
  grid-column: 1 / span 3;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  word-break: break-word;
  text-align: start;
  padding-left: 10%;
  padding-right: 10%;
}

.galleryInfo {
  font-size: initial;
}

.mainTitle {
  word-break: break-word;
  text-align: center;
  margin-bottom: 0;
}

.aboutText {
  display: flex;
  flex-flow: column wrap;
  text-align: justify;
}

#main {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: auto;
  padding-left: 20%;
  padding-right: 20%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  row-gap: 15px;
  column-gap: 20px;
  justify-content: center;
  box-sizing: border-box;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.03);
  }
}

footer {
  margin-top: 5%;
  font-size: 20px;
  color: $font-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  small {
    margin-right: 10px;
  }
  a {
    margin-right: 10px;
    text-decoration: none;
    color: $font-color;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/Montserrat-Medium.ttf");
}

.container {
  text-align: justify;
  margin-top: 20px;
  #portrait {
    border-radius: 360px;
    height: 80%;
    cursor: default;
    margin: 30px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  transition: all 1s ease-in-out;
  z-index: 9999;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  font-size: 15px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover {
  .dropdown-content {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    align-items: flex-start;
    text-align: initial;
  }
}

/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}*/
